node_modules
.next
.git
.github
.vscode
.idea
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.local
.env.development.local
.env.production
.env.test.local
README.md
LICENSE
.eslintrc*
.prettierrc*
coverage
out
.turbo
.swc
*.md
!skill/**/*.md
